/* ////////////////////////////////////////////////////////// ALAPOK //////////////////////////////////////////////////////////*/

body {
    background: linear-gradient(150deg, rgba(218,247,166,1) 0%, rgba(255,195,0,1) 100%);
    background-size: cover; /* A háttér méretét illeszti az ablakhoz */
    background-attachment: fixed; /* A háttér fixen marad az ablakban */
}

p {
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    color:#C70039
}


h1, h2, h3 {
    color: #900C3F; 
}

h1{
    font-size: 24px;
}

h2{
    font-size: 20px;
}

h1{
    font-size: 18px;
}

/* ////////////////////////////////////////////////////////// LEFT ALIGN  ////////////////////////////////////////////////////////// */

.left-align {
    float: left; /* Balra igazítás */
}

/* ////////////////////////////////////////////////////////// ELVÁLASZTÓ KÉP MÓDOSÍTÁSAI ////////////////////////////////////////////////////////// */

.full-width {
    width: 100%; 
}

/* ////////////////////////////////////////////////////////// TÁBLÁZAT ////////////////////////////////////////////////////////// */

.main-table {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin: 80px auto 0;
    border: none;
}

td {
    padding: 10px;
}

.menu {
    background-color: #C70039;
    color: white;
}

.separator {
    background-color: transparent;
}

.content {
    background-color: white;
}

.footer {
    background-color: #C70039;
    color: white;
    color: #FFC300 
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    text-decoration: none;
    color: red;
}
